<section>
  <div class="container pt-5">
    <h3>
      CART
    </h3>
    <table class="table pt-4">
      <thead>
        <tr>
          <th scope="col">
            #
          </th>
          <th scope="col">
            Image
          </th>
          <th scope="col">
            Product
          </th>
          <th scope="col">
            Quantity
          </th>
          <th scope="col">
            Price
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <th scope="row"></th>
          <td>
            <img src="/product-images/{{cartItem._id}}.jpg" style="width: 60px; height: 60px" alt="" />
          </td>
          <td>
            {{cartItem.name}}
          </td>
          <td class="flex-row d-flex">
            <button class="btn btn-dark" id="minus-btn" onclick="quantityChange('{{this._id}}','{{this.item}}',-1)">
              -
            </button>
            <p id="{{this.cartItem._id}}">
              {{this.quantity}}
            </p>
            <button class="btn btn-dark" onclick="quantityChange('{{this._id}}','{{this.item}}',1)">
              +
            </button>
          </td>
          <td>
            {{this.cartItem.price}}
          </td>
          <td>
            <button class="btn btn-danger" onclick="removeProduct('{{this.item}}','{{this._id}}')">
              REMOVE
            </button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <hr>
    <p class="mr-4 mt-2 float-right font-weight-bold">Total : 10000</p>
    <a href="/cart/place-order" class="mr-4  float-right btn btn-success">Place Order</a>
  </div>
</section>
<script></script>