<!----=====================mainsection start================================-->
<main>
  <div class="container pt-5">
    <div class="row">
      {{#each products}}
      <div class="col-md-3 col-6 d-flex flex-row pb-2 ">
        <a href="/productDetails/{{this._id}}" target="_parent">
        <div class="card p-2" >
          <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">
              {{this.name}}
            </h5>
            <p class="card-text">
             Rs {{this.price}}
            </p>
             </a>
            <button class="btn add-toCart" onclick="addToCart('{{this._id}}')">Add To Cart</button>
          </div>
        </div>
       
      </div>
      {{/each}}
    </div>
  </div>
</main>